/*

CSS font rules

font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;

***/

/* FIX SIZE OF MAIN CONTENT UPDATE ON GITHUB TO UPDATE FRONTEND MENTOR SOLUTION*/

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    align-self: center;
    margin: 5%;

}
.card-component{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    
}

.img-mobile{
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.img-desktop{
    display: none;
}

.card-content-container{
    padding: 5%;
}

.product-type{
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    letter-spacing: 5px;
    margin-top: 3%;
}

.product-name{
    font-family: 'Fraunces', serif;
    margin-top: 5%;
    font-size: 2em;
    
}

.product-description{
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    margin-top: 5%;
    line-height: 1.5em;
    text-align: start;
    
}

.price-container{
    display: flex;
    margin-top: 5%;
}

.price-current{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 2em;
    margin-right: 5%;
    
}

.price-old{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    align-self: center;
    font-size: .8em;
}


.btn{
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 5%;
    border-radius: 10px;
    width: 100%;
    margin-top: 8%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

.cart-icon{
    margin-right: 5%;
    vertical-align: middle;
}

button:hover{
    background-color: rgb(26,64,49);
}

footer{
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

a{
    color: black;
}

@media screen and (min-width: 1440px){


    .container{
        margin-left: auto;
        margin-right: auto;
        max-height: 600px;
        max-width: 750px;
    }    
    .card-component{
        flex-direction: row;

    }

    .img-mobile{
        display: none;
    }

    .img-desktop{
        display: flex;
        max-width: 50%;
        border-radius: 10px 0 0 10px;
        
    }

    .product-name{
        margin-top: 5%;
        font-size: 2.5em;
    }

    .price-container{
        margin-top: 10%;
    }

    .product-description{
        margin-top: 10%;
    }

    .btn-container{
        margin-top: 5%;
    }

    .price-container{
        margin-top: 10%;
    }
    
    .btn{
        padding: 7%;
    }
}